/* body{
    background-color: blue !important;
} */


/* hr {
    margin-top: 0 !important;
    margin-bottom: 100px !important;
    # margin-bottom: 50%;
} */



/* @media only screen and (max-width: 600px) {
    .st-emotion-cache-13ln4jf{
        width: 100%;
        padding: 0 0 0 0 ;
        max-width: 100em;
    }

} */
